* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

body {
	background-color: white;
	margin: 5px 5px 5px 5px;
	padding: 0 0 0 0;
	font-family:Verdana,Arial,sans-serif;
	font-size:10pt;
}

body p {
	margin-top:0;
	margin-bottom:5px;
}

.login {
	margin: 5px 5px 5px 5px;
	text-align: right;
}

.heading {
	background-color:#eff6ff;
	border-style:solid;
	border-width:1px;
	border-color:#6C9CE4;
	text-align:center;
	vertical-align:middle;
	color:#6C9CE4;
	font-size:24pt;
	font-weight:bold;
	margin: 5px 5px 5px 5px;
	padding: 10px 10px 10px 10px;
}

.heading-left {
	height:133px;
	width:325px;
}

.heading-login {
	height:25px;
	margin-left:325px;
	margin-right:0px;
	margin-top:0;
	margin-bottom:0;
	background-image:url(/template/logo-right.gif);
	background-repeat:no-repeat;
	text-align:left;
	padding:0 0 0 0;
	border-width: 0px;
	font-size: 10pt;
}

.heading-banner {
	height:107px;
	margin-left:325px;
	margin-right:0px;
	margin-top:0;
	margin-bottom:0;
	border-width: 0px;
}

.content {
	width:800px;
	margin:auto;
	font-size:10pt;
}

.content h1 {
	color: #3376DB;
	font-size: 16pt;
	text-align: center;
}

.content h2 {
	color: #3376DB;
	font-size: 14pt;
	text-align: center;
}

.content form div {
	margin-top: 10px;
}

.content-cell {
}

.content .all-commands {
	margin-top:10pt;
	text-align: center;
}

.user-menu-cell {
	width: 150px;
	display: table-cell;
}

.user-menu {
  margin: 5px 5px 5px 5px;
  width: 150px;
  float: right;
  font-size: 10pt;
}

.user-menu-panel {
  border: solid #6C9CE4 1px;
  background-color:#DDEBFF;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}

.user-menu-command {
}

.delimiter {
	background-color: #AAC9F8;
	height: 2px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:20%;
	margin-right:20%;
	font-size: 1px;
}

.delimiter-full {
  background-color: #AAC9F8;
  height: 2px;
  margin-top:10px;
  margin-bottom:10px;
  font-size: 1px;
}


.footer {
	font-size:10pt;
	margin: 0 0 0 0;
	padding: 5px 5px 5px 5px;
	text-align:center;
	background-color: #D9E8FF;
	border-top: solid #AAC9F8 1px;
}

.blogpost {
	margin-top:10px;
	margin-bottom:10px;
	border: 1 solid #9CBDEE;
}

.vote-block {
	background-color:#FFEA95;
	border-style:solid;
	border-width:1px;
	border-color:#E2B500;
	float:left;
	text-align:center;
	width:50px;
	margin: 5px 5px 5px 5px;
}

.post-header {
	
}

.post-title {
	color:#6C9CE4;
	font-size:16pt;
	font-weight:bold;
	background-color: #DDEBFF;
	padding-left: 12px;
	padding-right: 12px;
	padding-top:4px;
	padding-bottom:4px;	
}

.post-title a:link {
	color:#6C9CE4;
	text-decoration: underline;
}
.post-title a:visited {
	color:#266CD4;
	text-decoration: underline;
}
.post-title a:active {
	color:#266CD4;
	text-decoration: underline;
}

.post-title a:hover {
	color:#266CD4;
	text-decoration: underline;
}

.post-details {
	color:#6C9CE4;
	font-size:10pt;
	float:right;
	text-align: right;
	margin-right: 10px;
}

.post-actions {
}	

.post-content {
	padding: 10px;
}

.post-content p {
	margin-top:0;
	margin-bottom:8px;
	font-size: 12pt;
}

.comment {
}

.comment-details {
	background-color:#C8DEFF;
	color:#000000;
	font-size:8pt;
	margin: 10px 0 0 0;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left:8px;
	padding-right: 8px;
}

.comment-actions {
	background-color:#C8DEFF;
}

.comment-content {
	background-color:#EBF3FF;
	color:#000000;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left:8px;
	padding-right: 8px;
}

.comment-content p {
	margin-top:0;
	margin-bottom:8px;
	font-size:12pt;
}

.table-common {
	background-color:#6C9CE4;
	font-size:10pt;
}

.table-common td {
	background-color:#ffffff;
	padding: 2px 2px 2px 2px;
	text-align: left;
}

.table-common th {
	background-color:#DDEBFF;
	padding: 2px 2px 2px 2px;	
	font-weight: bold;
	text-align:center;
}

.content table {
	font-size: 10pt;
}



/*
Dialog css
*/
.dialog-header {
	/*position: absolute;
	display:none;*/
	height: 24px;
	background-color:#6C9CE4;	
}

.dialog-header-content {
  padding: 2px 2px 2px 2px;
  
  border-top: solid #6C9CE4 1px;
  border-left: solid #6C9CE4 1px;
  border-right: solid #6C9CE4 1px;
  font-size: 12pt;
  font-family: Verdana, Arial, sans-serif;
  color: white;
}

.dialog-frame {	
	/*position: absolute;
	display:none;*/
}

.dialog-frame-content {
  background:#C7DDFD;
  padding: 2px 2px 2px 2px;
  border-bottom: solid #6C9CE4 2px;
  border-left: solid #6C9CE4 2px;
  border-right: solid #6C9CE4 2px;	
}

.dialog-frame-content div {
	margin: 5px 5px 5px 5px;
}


/*
Cube figures styles
*/

.cube-figure-thumb-block {
	width: 170px;
	/*height: 180px;*/
	text-align: center;
	margin: 5px 5px 25px 5px;
	padding: 5px 5px 5px 5px;
}

.cube-figure-thumb-block div {
	text-align: center;
}

.rating {
	background-image: url(/template/rating.png);
	height: 22px;
	width: 100px;
}


.rating10 {
	background-position-y: 22px;
}

.rating9 {
	background-position-y: 44px;
}

.rating8 {
	background-position-y: 66px;
}

.rating7 {
	background-position-y: 88px;
}

.rating6 {
	background-position-y: 110px;
}

.rating5 {
	background-position-y: 132px;
}

.rating4 {
	background-position-y: 154px;
}

.rating3 {
	background-position-y: 176px;
}

.rating2 {
	background-position-y: 198px;
}

.rating1 {
	background-position-y: 220px;
}

.rating0 {
	background-position-y: 242px;
}








