<html>
  <body>
    <p align="right">
      <b>{{ user_name }}</b> <a href="{{ url }}">{{ url_linktext }}</a>
    </p>  
  
    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>  
  
    {% for greeting in greetings %}
      {{ greeting.date|date:"d.m.Y H:i" }}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      {{ greeting.language }}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}


  </body>
</html>
